body {
  background: #b31b1b;
}

.blog-image,
.gallery-image {
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.blog-slides,
.gallery-slides {
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 15px;
  font-size: larger
}

button {
  background: #b31b1b;
  color: #fff;
}

#button-left {
    float: left;
}

#button-right {
    float: right;
}

.card-view {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0 auto;
  padding: 30px;
  transition: .3s;
  width: 35%;
}

.card-view-blog {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.container {
  float: left;
  font-size: large;
}

.footer {
  background: #ddd;
  height: 100%;
  padding: 20px 0 20px;
  text-align: center;
  width: 100%;
}

.row-blog-format:after {
  clear: both;
  content: '';
  display: table;
}

#selfie-left {
  float: left;
  padding-right: 10px;
  max-width: 100%
}
